header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    background: rgb(4, 16, 32);
}
.logo{
    text-decoration: none;
    font-size: 2em;
    color: #FFF;
    transition: all 0.8s ease;
    cursor: pointer
}
.logo:hover{
  font-size: 2.2em
}
.favoritos{
  cursor: pointer;
  background-color: #FFF;
  padding: 5px 14px;
  text-decoration: none;
  color: #000;
  border-radius: 4px;
  transition: all 0.5s ease;
}
.favoritos:hover{
  background-color: #000;
  color: #FFF;
}
